.isolationModeIcon {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 756px);
  width: 56.375rem;
  height: 61.375rem;
  overflow: hidden;
  display: none;
}
.fi263115Icon {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  position: relative;
}
.fi263115Parent {
  width: 5rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
  text-align: left;
}
.fi3844224Parent {
  width: 5rem;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-lighter-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.fi12891091Parent {
  width: 5rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.expansionPanel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.fi1660114Parent {
  width: 5rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.deviderIcon {
  width: 15rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0.063rem;
  flex-shrink: 0;
  display: none;
}
.expansionPanel1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
}
.drawer {
  position: absolute;
  top: 4.5rem;
  left: 0rem;
  background-color: var(--neutral-grey-1);
  border-right: 1px solid var(--neutral-lighter-grey);
  box-sizing: border-box;
  height: 56.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-5xs);
  text-align: center;
  font-size: var(--font-size-xs);
}
.arun {
  color: var(--custom-primary);
}
.welcomeArun {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.plusIcon {
  width: 1.25rem;
  position: relative;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  position: relative;
  letter-spacing: 1.25px;
  line-height: 2.25rem;
  text-transform: uppercase;
}
.vIconLeft {
  width: 0.75rem;
  position: relative;
  font-size: var(--v-icon-small-size);
  line-height: 100%;
  font-family: var(--v-icon-small);
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0rem;
  gap: var(--gap-5xs);
}
.matBtn {
  border-radius: var(--br-9xs);
  background-color: var(--color-purple);
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-base);
  box-sizing: border-box;
}
.matBtnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--v-text-button-size);
  color: var(--neutral-white);
}
.headerTitle {
  width: 85rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.objectIcon {
  width: 14.638rem;
  position: relative;
  height: 13.588rem;
  flex-shrink: 0;
}
.generatedPrdWill {
  position: relative;
  font-size: var(--v-icon-small-size);
  font-family: var(--text-body-2);
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--icon-medium-size);
  font-family: var(--v-text-subtitle-1);
}
.continer {
  position: absolute;
  top: 8.875rem;
  left: 29rem;
  width: 65.5rem;
  height: 52.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--v-text-h1-size);
  font-family: var(--v-text-button);
}
.fi6415824Icon {
  width: 3rem;
  position: relative;
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
}
.projectName {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 1.25rem;
}
.customerName {
  align-self: stretch;
  position: relative;
  font-size: var(--v-text-h4-size);
  letter-spacing: 0.25px;
  line-height: 2rem;
  font-family: var(--v-text-button);
}
.vListItemContent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0rem;
  gap: var(--gap-11xs);
}
.listItemyesnono {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-5xl);
  gap: var(--gap-xl);
}
.matDivider {
  align-self: stretch;
  position: relative;
  background-color: var(--neutral-lighter-grey);
  height: 0.063rem;
  overflow: hidden;
  flex-shrink: 0;
}
.span {
  width: 5.5rem;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.responsive {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.expandLess {
  position: relative;
  font-size: var(--icon-medium-size);
  line-height: 100%;
  font-family: var(--v-icon-small);
  text-align: center;
}
.matExpansionPanelHeader {
  align-self: stretch;
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) 0rem;
  gap: var(--gap-3xs);
}
.matExpansionPanelHeaderWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0rem var(--padding-5xl);
  cursor: pointer;
}
.expandLess1 {
  position: relative;
  font-size: var(--icon-medium-size);
  line-height: 100%;
  font-family: var(--v-icon-small);
  color: var(--neutral-dark-grey);
  text-align: center;
}
.matExpansionPanelHeader1 {
  align-self: stretch;
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-3xs);
  color: var(--custom-primary);
}
.uploadBrdcallTranscripttec {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 140%;
}
.dragAnDrop {
  position: relative;
  line-height: 1.5rem;
}
.limit200mbPer {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 120%;
  font-family: var(--text-body-2);
  color: var(--color-dimgray-100);
}
.dragAnDropFileParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconLeft {
  position: relative;
  line-height: 100%;
  display: none;
}
.text2 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 1.25px;
  line-height: 2.25rem;
  text-transform: uppercase;
  font-family: var(--v-text-button);
  color: var(--neutral-dark-grey);
}
.iconRight {
  width: 0.75rem;
  position: relative;
  line-height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.button {
  border-radius: var(--br-9xs);
  border: 1px solid var(--grey-lighten-2);
  box-sizing: border-box;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-xs);
  font-size: var(--v-icon-small-size);
  color: var(--neutral-white);
  font-family: var(--v-icon-small);
}
.fileUploader {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-grey-1);
  border: 1px dashed var(--neutral-light-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  text-align: center;
  color: var(--color-black);
}
.uploadBrdcallTranscripttecParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.selectSections {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  z-index: 0;
}
.floatingLabel {
  width: 5.25rem;
  margin: 0 !important;
  position: absolute;
  top: -0.375rem;
  left: 0.5rem;
  background-color: var(--neutral-white);
  height: 0.75rem;
  display: none;
  z-index: 1;
}
.chevronDownIcon {
  width: 1.25rem;
  position: relative;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.inputSlot {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-white);
  border: 1px solid var(--neutral-light-grey);
  box-sizing: border-box;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs);
  position: relative;
  color: var(--neutral-dark-grey);
}
.customizeYourPrdParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameGroup {
  align-self: stretch;
  height: 33.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.text3 {
  position: relative;
  font-size: var(--v-text-button-size);
  letter-spacing: 1.25px;
  line-height: 2.25rem;
  text-transform: uppercase;
  font-family: var(--v-text-button);
  color: var(--neutral-dark-grey);
}
.button1 {
  border-radius: var(--br-9xs);
  height: 2.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-base);
  box-sizing: border-box;
}
.text4 {
  position: relative;
  font-size: var(--v-text-button-size);
  letter-spacing: 1.25px;
  line-height: 2.25rem;
  text-transform: uppercase;
  font-family: var(--v-text-button);
  color: var(--black-026);
}
.button2 {
  border-radius: var(--br-31xl);
  background-color: var(--black-012);
  height: 2.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--padding-base);
  box-sizing: border-box;
}
.buttonParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--v-icon-small-size);
  color: var(--neutral-white);
  font-family: var(--v-icon-small);
}
.expandedContent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-9xs);
  color: var(--black-087);
}
.matExpansionPanelHeader2 {
  align-self: stretch;
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.frameParent {
  align-self: stretch;
  height: 47.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-family: var(--v-text-subtitle-1);
}
.listItemyesnonoParent {
  position: absolute;
  top: 4.5rem;
  left: 6rem;
  border-radius: var(--br-9xs) 0px 0px var(--br-9xs);
  border-right: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 23rem;
  height: 56.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0rem;
  gap: var(--gap-base);
  font-family: var(--text-body-2);
}
.projectRequirementDocument {
  position: relative;
  letter-spacing: 0.5px;
}
.waitingForYou {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.04em;
  font-family: var(--text-body-2);
}
.projectRequirementDocumentParent {
  width: 35.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--v-icon-small-size);
  font-family: var(--v-text-button);
}
.downloadOutlineIcon {
  width: 1rem;
  position: relative;
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.download {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
}
.button3 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  border: 1px solid var(--neutral-mid-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.actions {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  opacity: 0;
}
.button5 {
  border-radius: var(--br-5xl);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button6 {
  border-radius: var(--br-5xl);
  border: 1px solid var(--neutral-mid-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.buttonGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
  opacity: 0.5;
}
.subHeader {
  position: absolute;
  top: 4.5rem;
  left: 29rem;
  background-color: var(--neutral-grey-1);
  border-bottom: 1px solid var(--neutral-lighter-grey);
  box-sizing: border-box;
  width: 65.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl);
}
.nexaLogoIcon {
  width: 7rem;
  position: relative;
  height: 2.5rem;
}
.matDivider4 {
  align-self: stretch;
  width: 0.063rem;
  position: relative;
  background-color: var(--neutral-lighter-grey);
  overflow: hidden;
  flex-shrink: 0;
}
.projects1 {
  position: relative;
  letter-spacing: 0.04em;
}
.button7 {
  border-radius: var(--br-5xl);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0rem;
}
.nexaLogoParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.notification1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.person {
  position: relative;
  line-height: 100%;
}
.matAvatar {
  width: 2.25rem;
  border-radius: var(--br-31xl);
  background-color: var(--custom-accent);
  height: 2.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.matAvatarWrapper {
  width: 2.25rem;
  border-radius: var(--br-5xl);
  height: 2.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url("/public/frame-1171275234@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.notificationParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--icon-medium-size);
  color: var(--neutral-white);
  font-family: var(--v-icon-small);
}
.header {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--neutral-white);
  border-bottom: 1px solid var(--neutral-lighter-grey);
  box-sizing: border-box;
  width: 94.5rem;
  height: 4.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  font-size: var(--v-text-h4-size);
  font-family: var(--v-text-button);
}
.prdCreation {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  height: 61.375rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--v-text-button-size);
  color: var(--neutral-dark-grey);
  font-family: var(--v-text-subtitle-1);
}
