.fi1660114Icon {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.help {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--v-text-subtitle-1);
  color: var(--neutral-dark-grey);
  text-align: left;
}
.fi1660114Parent {
  cursor: pointer;
  border: none;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: transparent;
  width: 5rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.deviderIcon {
  width: 15rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0.063rem;
  flex-shrink: 0;
  display: none;
}
.expansionPanel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
